<template>
  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/card-decks/card-deck.html"></require>
  <require from="../../resources/elements/card-decks/video-deck-double.html"></require>

  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>

  <div class="uk-container uk-padding-small">
    <div if.bind="name != 'video'">
      <card-deck los.one-way="los"></card-deck>
    </div>
    <div else>
      <video-deck-double los.one-way="los"></video-deck-double>
    </div>
  </div>
</template>
