<template>
  <require from="../../resources/elements/card-decks/card-deck.html"></require>
  <require from="../../resources/elements/card-decks/unit-deck.html"></require>
  <require from="../../resources/elements/navigators/side-navigator"></require>

  <div if.bind="show">
    <side-navigator></side-navigator>
    <div class="uk-container uk-padding-small">
      <unit-deck if.bind="course.units.length>0" units.one-way="course.units"></unit-deck>
      <card-deck los.one-way="course.standardLos"></card-deck>
    </div>
  </div>
</template>
