<template>
  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/card-decks/card-deck.html"></require>
  <require from="../../resources/elements/navigators/side-navigator"></require>

  <side-navigator></side-navigator>
  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>
  <div class="uk-container uk-padding-small">
    <card-deck los.one-way="course.standardLos"></card-deck>
  </div>
</template>
