<template>
  <require from="../../resources/elements/navigators/main-navigator"></require>

  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>

  <div class="uk-container uk-padding-small">
    <div class="uk-card uk-card-default uk-box-shadow-xlarge uk-animation-scale-up">
      <div class="uk-card-header">
        <div uk-grid>
          <div class="uk-width-expand@m">
            <div class="card-title"> Tutors Course Tuition System</div>
          </div>
        </div>
      </div>
      <div class="uk-card-footer">
        <div class="card-body">  See <a href="https://github.com/edeleastar/tutors-design"> https://github.com/edeleastar/tutors-design </a> for examples and guidance</div>
      </div>
    </div>
  </div>
</template>

