<template>

  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/card-decks/card-deck.html"></require>
  <require from="../../resources/elements/card-decks/unit-deck.html"></require>
  <require from="../../resources/elements/card-decks/video-deck.html"></require>
  <require from="../../resources/elements/card-decks/panel-talk-deck.html"></require>

  <side-navigator></side-navigator>

  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>
  <div class="uk-container uk-padding-small">
    <video-deck if.bind="topic.panelVideos.length>0" videos.one-way="topic.panelVideos"></video-deck>
    <panel-talk-deck if.bind="topic.panelTalks.length>0" talks.one-way="topic.panelTalks"></panel-talk-deck>
    <unit-deck if.bind="topic.units.length>0" units.one-way="topic.units"></unit-deck>
    <card-deck if.bind="topic.standardLos.length>0" los.one-way="topic.standardLos"></card-deck>
  </div>
</template>
