<template>
  <require from="../../resources/elements/card-decks/card-deck"></require>
  <require from="../../resources/elements/card-decks/unit-deck.html"></require>
  <require from="../../resources/elements/card-decks/video-deck.html"></require>
  <require from="../../resources/elements/card-decks/panel-talk-deck.html"></require>

  <div if.bind="show">
    <div class="uk-container uk-padding-small">
      <video-deck if.bind="topic.panelVideos.length>0" videos.to-view="topic.panelVideos"></video-deck>
      <panel-talk-deck if.bind="topic.panelTalks.length>0" talks.to-view="topic.panelTalks"></panel-talk-deck>
      <unit-deck if.bind="topic.units.length>0" units.to-view="topic.units"></unit-deck>
      <card-deck if.bind="topic.standardLos.length>0" los.to-view="topic.standardLos"></card-deck>
    </div>
  </div>
</template>
