.ag-header-cell-label .ag-header-cell-text {
  writing-mode: vertical-lr;
}
.red {
  background-color: palevioletred;
  color: white;
}

.yellow {
  background-color: yellow;
  color: grey;
}

.green-1 {
  background-color: #00D000;
  color: white;
}
.green-2 {
  background-color:#00C000;
  color: white;
}
.green-3 {
  background-color: #00B000;
  color: white;
}
.green-4 {
  background-color: #00A000;
  color: white;
}
.green-5 {
  background-color: #009000;
  color: white;
}
.green-6 {
  background-color: #008000;
  color: white;
}
.green-7 {
  background-color: #007000;
  color: white;
}
.green-8 {
  background-color: #006000;
  color: white;
}
.green-9 {
  background-color: #005800;
  color: white;
}
.green-10 {
  background-color: #005000;
}
.green-11 {
  background-color: #004800;
  color: white;
}

/* https://www.cssportal.com/html-colors/shades-of-green.php */

.d-green-1 {
  background-color: #00FF00;
  color: white;
}
.d-green-2 {
  background-color:#00F800;
  color: white;
}
.d-green-3 {
  background-color: #00F000;
  color: white;
}
.d-green-4 {
  background-color: #00E800;
  color: white;
}
.d-green-5 {
  background-color: #00E000;
  color: white;
}
.d-green-6 {
  background-color: #00D800;
  color: white;
}
.d-green-7 {
  background-color: #00D000;
  color: white;
}
.d-green-8 {
  background-color: #00C800;
  color: white;
}
.d-green-9 {
  background-color: #00C000;
  color: white;
}
.d-green-10 {
  background-color: #00B800;
}
.d-green-11 {
  background-color: #00B000;
  color: white;
}
.d-green-12 {
  background-color: #00A800;
  color: white;
}
.d-green-13 {
  background-color: #00A000;
  color: white;
}
.d-green-14 {
  background-color: #009800;
  color: white;
}
.d-green-15 {
  background-color: #009000;
}
.d-green-16 {
  background-color: #008800;
  color: white;
}
.d-green-17 {
  background-color: #008000;
  color: white;
}
.d-green-18 {
  background-color: #007800;
  color: white;
}
.d-green-19 {
  background-color: #007000;
  color: white;
}
.d-green-20 {
  background-color: #006800;
  color: white;
}
.d-green-21 {
  background-color: #006000;
  color: white;
}
.d-green-22 {
  background-color: #005800;
  color: white;
}
.d-green-23 {
  background-color: #006000;
  color: white;
}
.d-green-24 {
  background-color: #005800;
  color: white;
}
.d-green-25 {
  background-color: #005000;
  color: white;
}
.d-green-26 {
  background-color: #004800;
  color: white;
}
.d-green-27 {
  background-color: #004000;
  color: white;
}
.d-green-28 {
  background-color: #003800;
  color: white;
}
.d-green-29 {
  background-color: #003000;
  color: white;
}
.d-green-30 {
  background-color: #002800;
  color: white;
}
.d-green-31 {
  background-color: #002020;
  color: white;
}
.d-green-32 {
  background-color: #001800;
  color: white;
}
.d-green-33 {
  background-color: #001000;
  color: white;
}
.d-green-34 {
   background-color: #000800;
   color: white;
 }
.d-green-35 {
  background-color: #000000;
  color: white;
}

