<template>
  <require from="./talk-view.css"></require>
  <require from="../../resources/elements/cards/talk-card.html"></require>
  <require from="../../resources/elements/navigators/side-topic-navigator.html"></require>
  <require from="../../resources/elements/navigators/topic-btn.html"></require>

  <div if.bind="show">
    <side-topic-navigator topic.to-view="lo.parent"></side-topic-navigator>
    <div class="uk-grid uk-padding-small">
      <div class="uk-width-expand">
        <talk-card lo.to-view="lo"></talk-card>
      </div>
      <div class="uk-width-auto uk-animation-slide-right">
        <topic-btn></topic-btn>
      </div>
    </div>
  </div>
</template>
