<template>
  <require from="./talk-view.css"></require>
  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/cards/talk-card.html"></require>
  <require from="../../resources/elements/cards/topic-navigator-card.html"></require>
  <require from="../../resources/elements/cards/talk-card-pdf"></require>

  <div if.bind="show">
    <div class="uk-container-expand uk-margin-medium-top uk-margin-medium-left uk-margin-medium-right">
      <div uk-grid uk-flex uk-flex-center>
        <div class="uk-width-expand@m">
          <talk-card-pdf lo.to-view="lo"></talk-card>
        </div>
        <div class="uk-width-1-5@m uk-flex uk-grid">
          <topic-navigator-card topic.to-view="lo.parent"></topic-navigator-card>
        </div>
      </div>
    </div>
  </div>
</template>
