<template>
  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/value-converters/filter"></require>
  <require from="../../resources/value-converters/highlight"></require>
  <require from="../../resources/value-converters/search-bold"></require>
  <require from="../../resources/elements/navigators/side-navigator"></require>

  <side-navigator></side-navigator>
  <main-navigator navigator-properties.to-view="navigatorProperties"></main-navigator>
  
  <div class="uk-container uk-padding-small">
    <fieldset class="uk-fieldset">

      <form class="uk-search uk-search-default">
        <span uk-search-icon></span>
        <input class="uk-search-input" 
               type="search" 
               placeholder="Search..."
               change.delegate="searchTermChanged()"
               value.bind="searchTerm">
      </form>

      <dl>
        <div repeat.for="search_string of search_strings | filter:searchTerm">
          <dt innerhtml.bind="search_string | searchBold:searchTerm | highlight"></dt><br>
        </div>
      </dt>
    </fieldset>
  </div>
</template>

