body {
  font-family: "Open Sans", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 90%;
  color: black;
}

ul {
  margin-top: 2px;
  margin-bottom: 2px;
}

p {
  line-height:20px;
  margin:2px;
  padding:2px;
}

pre code {
  font-family: "Monaco";
  font-size: 100%;
  line-height:18px;
}

.lab img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

h1, h2, h3 {
  border-bottom: thin solid black;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 110%;

}

h3 {
  font-size: 100%;
}
