<template>
  <require from="./lab-view.css"></require>
  <require from="./railscasts.css"></require>
  <require from="../../resources/elements/navigators/lab-navigator"></require>

  <require from="../../resources/elements/iconography/icon"></require>

  <div if.bind="show">
    <div if.bind="vertical">
      <aside id="left-col" class="uk-light uk-animation-slide-left">
        <button click.delegate="onClickSwitch()" title="Switch to horizontal menu" pos="bottom" uk-tooltip>
          <icon type="switchOff" size="2x"></icon>
        </button>
        <div class="bar-wrap">
          <ul class="uk-nav-default uk-nav-parent-icon " innerhtml="${navbarHtml}" uk-nav>
          </ul>
        </div>
      </aside>
      <div id="right-col">
        <div class="lab" innerhtml="${content}"></div>
      </div>
    </div>
    <div else>
      <div uk-sticky>
        <nav class="uk-navbar uk-animation-slide-top">
          <button click.delegate="onClickSwitch()" title="Switch to vertical menu" pos="bottom" uk-tooltip>
            <icon type="switchOn" size="2x"></icon>
          </button>
          <div class="uk-navbar-right">
            <ul class="uk-subnav uk-background-secondary uk-subnav-pill" innerhtml="${navbarHtml}"></ul>
          </div>
        </nav>
      </div>
      <div class="uk-container uk-container-expand uk-padding-small uk-animation-fade">
        <div class="lab" innerhtml="${content}"></div>
      </div>
    </div>
  </div>
</template>
