<template>
  <require from="./lab-view.css"></require> <require from="./railscasts.css"></require>
  <require from="../../resources/elements/navigators/lab-navigator"></require>

  <div if.bind="show">
    <div uk-sticky>
      <nav class="uk-navbar">
        <div class="uk-navbar-right">
          <ul class="uk-subnav uk-background-secondary uk-subnav-pill" innerhtml="${navbarHtml}"></ul>
        </div>
      </nav>
    </div>
    <div class="uk-container uk-container-expand uk-padding-small"><div class="lab" innerhtml="${content}"></div></div>
  </div>
</template>
